.list {
    margin-top: 100px;
    margin-bottom: 100px;
    color: rgba(1,1,1,0.7);
}

.list li {
    list-style-type:none;
    font-weight: bold;
    font-size: 4em;
    transition: 250ms;
}

.list li:hover {
    font-size:88px;
    font-size-adjust: 20px;
}