body {
  font-family: Georgia, serif;
  background-color:powderblue;
  /*color:rgb(0, 255, 64);*/
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 5px blue;
}

p {
  color:brown;
}

#inline {
  display: inline;
}
